<div class="app-card-container">
  <div class="card">


    <h1>About</h1>
    <p>Software Developer</p>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "mepic.png", width: 280, alt: "Picture of a bridge", class: 'profile-img' %>

        <div class="skills">
          <% @skills.each do |skill| %>
          <div class="skill">
            <h4><%= skill.title %></h4>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-color" 
                    role="progressbar" 
                    area-valuenow="<%= skill.percent %>" 
                    aria-valuemax="100" 
                    style="width: <%= skill.percent %>%">
              </div>
            </div>
          </div>

          <% end %>
        </div>
      </div>

      <div class="col-md-8">
        <p class="about-summary">My name is Joseph Garcia and I'm from San Antonio, TX. 
        This past year, I’ve delved into the rabbit hole of Android Studio with Kotlin, web development with 
        JavaScript and Rails, and Unity with C#. I’ve learned many technologies throughout my life, 
        from graphic design, video-editing and VFX as a teenager, to 3D game tech and programming in college. 
        Coming across problems and thoroughly learning new things to deal with them gave me the sort of tech savvy 
        flexibility to solve any issue thrown at me.
        <br><br>
        I graduated from UT Austin with a degree in game development. In my projects there, I worked mostly in 
        groups and in a variety roles, such as tech artist in our game development capstone course, 
        gameplay programmer for a 1-month rapid development prototype project in a scripting course, 
        and a 3d modeler for various other projects. Working in a united group and coming out with 
        cohesive product that was once just an abstract idea is an immensely rewarding experience to me.
        <br><br>
        During a hackathon in Austin, I was a co-designer for a web app that helps users sort their 
        waste between landfill, recycling, and compost. My team traveled downtown to interview small 
        shop owners about it, and it was inspiring to hear how many of them would’ve loved an app 
        interface like it in their store in the name of helping the environment. It’s an awesome 
        feeling when something I create can help people out. It’s the reason I like technology 
        so much--it has an amazing power to bring new applications to people’s fingertips to accomplish 
        exactly what they need at a fraction of the time. 
        </p>


        <p>
          <%= link_to "My Projects", projects_path, class: "btn btn-primary" %>

          <%= link_to "Resume", "https://drive.google.com/file/d/1RXfpkNtal8m6o2yV-5403gW5BnxHEnG2/view?usp=sharing", class: "btn btn-primary", target: :_blank %>

          <%= link_to "GitHub", "https://github.com/joseph-garcia/", class: "btn btn-primary", target: :_blank %>
          
        </p>

        <p>
        <div class="collapse" id="moreInfo">
          <div class="card card-block">
            More Info 1:
          </div>
          <div class="card card-block">
            More Info 2:
          </div>
        </div>

        <div class="collapse" id="education">
          <div class="card card-block">
            More Info 1:
          </div>
          <div class="card card-block">
            More Info 2:
          </div>
        </div>

      </div>

    </div>

  </div>
</div>