<div class="album py-5"></div>

<div class="container card mb-4 box-shadow">
  <div class="row card-body">
    <div class="col-md-7 padding">
      <%= image_tag @portfolio_item.main_image, class: "project-image" %>
    </div>
    <div class="col-md-5 padding">
      <h1><%= @portfolio_item.title %></h1>

      <hr>

      <em><%= @portfolio_item.subtitle %></em>

      <p><%= @portfolio_item.body %></p>

      <%= link_to "Visit", @portfolio_item.visit_link, class: "btn btn-secondary", target: :_blank if !@portfolio_item.visit_link.nil? %>
      <%= link_to "Code", @portfolio_item.code_link, class: "btn btn-secondary", target: :_blank if !@portfolio_item.code_link.nil?  %>

      <hr>

      <h3>Technologies used</h3>

      <% @portfolio_item.technologies.each_with_index do |t, idx| %>
      
        <% if idx != @portfolio_item.technologies.size - 1%>
          <span><%= t.name %>, </span>
        <% else %>
          <span><%= t.name %></span>
        <% end %>
      <% end %>

      <% if logged_in?(:site_admin) %>
      <div>
        <%= link_to "Edit Item", edit_portfolio_piece_path(@portfolio_item), class: 'btn btn-warning' %>
      </div>
      <% end %>
      
    </div>
  </div>
</div>

