<!DOCTYPE html>
<html>
  <head>
    <!-- Bootstrap header -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">

    <!--------------------->
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap" rel="stylesheet"> 

    <meta name="keywords" content="<%=@seo_keywords%>"/>

    

    <%= csp_meta_tag %>

    <%= favicon_link_tag 'favicons/favicon.ico' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center">
    <!-- Bootstrap body -->
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      
      <div id="background"></div>

      <%= render "shared/application_nav" %>

      

      <%= yield %>

      <%= render "shared/application_footer" %>

      <%= source_helper("application") %>

    </div>
  </body>
</html>
